*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-first{
    background-color: #0F1111;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    background-image: url("./Images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
    border-radius: 3px;
}
.border:hover{
    border: 1px solid white;
}
/** address box**/
.add-first{
    padding-top: 10%;
    font-size: 0.85rem;
    margin-left: 15px;
    color: #cccccc;
}
.add-second{
    font-weight: 700;
    margin-left: 3px;
}
.nav-address{
    height: 50px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** Search box**/
.nav-search-bar{
    display: flex;
    height: 40px;
    width:620px;
    background-color: lightsalmon;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search-bar:hover{
    border: 2px solid orange;
    border-radius: 4px;
}
.search-select{
    width: 50px;
    background-color: #e6e6e6;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    background-color: #febd68;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
/**contry language selection box**/
.con-lang{
    width: 55.3px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.con-img{
    width: 21.6px;
    height: 16.2px;
    margin-right: 3px;
}
.con-select{
    background-color:transparent;
    border: none;
    color: white;
    font-weight: 750;
}
.con-select option{
    background-color:#0F1111;
    color:white;
    font-weight: 750;
}
/**Account & login box**/
.nav-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 131.5px;
    height: 50px;
    padding-left: 10px;
}
.text-sub{
    font-size: 0.7rem;
}
.text-main{
    font-size: 0.85rem;
    font-weight: 700;
    color: white;
}
/** return order box**/
.nav-return{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 77px;
    height: 50px;
    padding-left: 10px;
}
/**Cart box**/
.nav-cart{
    width:84px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 10px;
}
.nav-cart i{
    font-size: 25px;
    margin-right: 10px;
    color: #febd68;
}


/**navigation bar second starts here**/
.navbar-second{
    background-color: #232f3e;
    height: 39px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-sec-icon{
    display: flex;
    padding-right: 10px;
    height: 29px;
    padding: 5px 10px 5px 0px ;
    align-items: center;
}
.navbar-sec-icon i{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-sec-list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 29px;
    padding: 5px 0px 6px 0px;
}
.nav-sec-list-text{
    color: white;
    font-size: 0.85rem;
    font-weight: 500;
    height: 28px;
    padding: 5px 8px;
}
