*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
ul>li{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    height:auto;
}
.navbar-first{
    background-color: #0F1111;
    color: white;
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    background-image: url("./Images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
    border-radius: 3px;
}
.border:hover{
    border: 1px solid white;
}
/** address box**/
.add-first{
    padding-top: 10%;
    font-size: 0.85rem;
    margin-left: 15px;
    color: #cccccc;
}
.add-second{
    font-weight: 700;
    margin-left: 3px;
}
.nav-address{
    height: auto;
    min-width: fit-content;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** Search box**/
.nav-search-bar{
    display: flex;
    height: 40px;
    width:55%;
    background-color: lightsalmon;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search-bar:hover{
    border: 2px solid orange;
    border-radius: 4px;
}
.search-select{
    width: 50px;
    background-color: #e6e6e6;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    border: none;
    padding-right: 5px;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    background-color: #febd68;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
/**contry language selection box**/
.con-lang{
    min-width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.con-img{
    width: 21.6px;
    height: 16.2px;
    margin-right: 3px;
}
.con-select{
    background-color:transparent;
    border: none;
    color: white;
    font-weight: 750;
}
.con-select option{
    background-color:#0F1111;
    color:white;
    font-weight: 750;
}
/**Account & login box**/
.nav-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 131.5px;
    height: 50px;
    padding-left: 10px;
}
.text-sub{
    font-size: 0.7rem;
}
.text-main{
    font-size: 0.85rem;
    font-weight: 700;
    color: white;
}
/** return order box**/
.nav-return{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 77px;
    height: 50px;
    padding-left: 10px;
}
/**Cart box**/
.nav-cart{
    width:84px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 10px;
}
.nav-cart i{
    font-size: 25px;
    margin-right: 10px;
    color: #febd68;
}


/**navigation bar second starts here**/
.navbar-second{
    background-color: #232f3e;
    height: 39px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-sec-icon{
    display: flex;
    padding-right: 10px;
    height: 29px;
    padding: 5px 10px 5px 0px ;
    align-items: center;
}
.navbar-sec-icon i{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-sec-list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    gap: 10px;
    height: 29px;
    width: 80%;
    
}
.nav-sec-list-text{
    color: white;
    font-size: 0.85rem;
    font-weight: 500;
    height: 28px;
    display: flex;
    align-items: center;
}


/**Main Section**/
main{
    width: auto;
    height: auto;
}
.main-top{
    background-image: url("./Images/hero_image.jpg");
    height: 23rem;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.main-message{
    background-color: white;
    color: black;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.main-message>p>a{
    color: #007185;
    text-decoration: none;
}
.main-message>p{
    font-size: 0.85rem;
}
/**shopbox section**/
.shop-sec{
    width: 100%;
    height: 80%;
    background-color: #e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
}
.shopbox{
    width: 23%;
    height: 25rem;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    flex-flow: column wrap;
}
.shopbox-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.backgroundimg-box{
    height: 18.75rem;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
    background-size: cover;
}
.shop-sec-p{
    color: #007185;
    font-size: 0.8rem;
    font-weight: lighter;
}
.shop-sec h2{
    font-size: 21px;
}
.signin-squre{
    height:25px ;
    width: 45px;
    background-color: #febd68;
    text-align: center;
}
/*large shop section*/
.shopboxlarge{
    width: 98%;
    height: 18rem;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    /*border: 2px solid #007185;*/
}
.large_container{
    width: auto;
    height: 12.5rem;
    margin: 10px 0px 20px 0px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.large_container_img{
    height: 12.25rem;
    width: 100%;
    margin: 0px 5px;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
}
/*deals under 25 $ Section*/
.shopboxlarge_2{
    width: 98%;
    height: 24.5rem;
    background-color: white;
    padding: 20px 0px;
    display: flex;
    flex-flow: row wrap;
}
.inside_large{
    display: flex;
    width: 91rem;
    justify-content: space-evenly;
    overflow: hidden;
}
.large_container_2{
    width: auto;
    height: 20rem;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.button_deal{
    height: 1.5rem;
    width: auto;
    background-color: #CC0C39;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    font-size: small;
    font-weight:600;
}
.large_container_img_2{
    height: 12.25rem;
    width: 100%;
    margin: 0px 0px 20px 0px;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
}
p.deal{
    margin-left: 5px;
    font-weight: 600;
    font-size: small;
    color: #CC0C39;
}
.button_block{
    display:flex;
    align-items: center;
}
.prize{
    font-size: larger;
}
.prize>span{
    font-size:12px;
    color: grey;
    font-weight: lighter;
}
.itemname{
    font-size:14px;
}
/* Scrolling Container*/
.shop-bar {
    width: 98%;
    height: 18.5rem;
    overflow: hidden;
    background-color: white;
    padding: 15px;
}
.image-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-top: 15px;
}
.image-container img {
    height: 12.25rem;
    width: 12.25rem;
    scroll-snap-align: start; 
    margin-right: 20px;
}

/*Footer Section*/
footer{
    height: auto;
    width: auto;
}
.footer1{
    width: 100%;
    height: 12rem;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}
.inside_footer1{
    width: 100%;
    height:8rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 0.5px solid #e2e7e6;
    
}
.footer1_btn{
    width: 14.375rem;
    height: 1.875rem;
    color: #0F1111;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px 0 #ffe093;
    background: linear-gradient(to bottom, #ffd774,#ffda79, #ffc634); /* Replace with your desired gradient colors */
    border:0.3px solid #e6a400;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem 0%;
}
.inside_footer1 p{
    font-size: 14px;
    color: #0F1111;
}
.footer2{
    width: 100%;
    height: 3.125rem;
    background-color: #37475a;
    color: white;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.footer2:hover{
    background-color: #485769;
}
.footer3{
    background-color: #232f3e;
    height: 57vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-top: 2.5rem;
}
.footer3 p{
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
}
.unorder{
    display:flex;
    flex-direction: column;
}
.unorder a{
    padding-top: 15px;
    font-size: 13px;
}
